<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="google" content="notranslate" />
    <meta name="googlebot" content="noindex, nofollow" />
    <link rel="icon" href="../../favicon.ico">
    <title>@ViewData["Title"]</title>
    <noscript>JavaScript is required.</noscript>
    <environment names="Development">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="false" />
    </environment>
</head>
<body>
    <header id="header">
        <nav><ul><li><a href="#menu">Menu</a></li></ul></nav>
    </header>
    <div id="wrapper">
        @RenderBody()
    </div>
    <nav id="menu" class="">
        <div class="inner"><h2>Menu</h2><ul class="links"><li><a href="~/">Home</a></li><li><a href="generic.html">Ipsum veroeros</a></li><li><a href="generic.html">Tempus etiam</a></li><li><a href="generic.html">Consequat dolor</a></li><li><a href="elements.html">Elements</a></li></ul><ul class="actions vertical"><li><a href="#" class="button fit special">Get Started</a></li><li><a href="~/Account/Login" class="button fit">Log In</a></li></ul></div><a class="close" href="#menu">Close</a>
    </nav>
    

    <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/lib/skel/dist/skel.min.js"></script>
    <script src="~/lib/respond/dest/respond.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery" asp-append-version="false">
    </script>



    @*<script src="~/lib/tether/dist/js/tether.min.js"
            asp-fallback-src="~/lib/tether/dist/js/tether.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>*@
    <script src="~/lib/skel/dist/skel.min.js"
            asp-fallback-src="~/lib/skel/dist/skel.min.js" asp-append-version="false">
    </script>
    <script src="~/lib/respond/dest/respond.min.js"
            asp-fallback-src="~/lib/respond/dest/respond.min.js" asp-append-version="false">
    </script>
    <script src="~/js/site.min.js" asp-append-version="false"></script>
    <script src="~/js/util.js" asp-append-version="false"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
