@{
    ViewData["Title"] = "Home Page";
}
<section id="intro" class="wrapper featured style1">
    <div class="inner">
        <span class="image"><img src="images/pic01.jpg" alt=""></span>
        <div class="content">
            <header><h1>Reflex</h1><p>Lorem ipsum dolor sit magna consectetur<br>  adipiscing elit. Duis dapibus rutrum facilisis.<br>  Class aptent taciti sociosqu torquent.</p></header>
            <footer><ul class="actions"><li><a href="#" class="button big">Get Started</a></li></ul></footer>
        </div>
    </div>
</section>
<section class="wrapper style2 special">
    @*<svg id="sectionCurve" preserveAspectRatio="none" viewBox="0 0 1280 70">
        <polygon fill="snow" points="1280 0 1280 70 0 70"></polygon>

    </svg>*@
    <div class="inner">
        <header><h2>Ipsum malesuada</h2><p>Rutrum facilisis. Class aptent taciti sociosqu<br>  litora torquent et conubia etiam nostra.</p></header><ul class="icons major style2"><li><span class="icon fa-code"><span class="label">Lorem</span></span></li><li><span class="icon fa-cog"><span class="label">Ipsum</span></span></li><li><span class="icon fa-diamond"><span class="label">Dolor</span></span></li><li><span class="icon fa-camera-retro"><span class="label">Feugiat</span></span></li><li><span class="icon fa-briefcase"><span class="label">Tempus</span></span></li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos malesuada fames ac turpis egestas. In non lorem amet. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique eu nibh.</p><footer>
            <ul class="actions"><li><a href="#" class="button">Details</a></li></ul>
        </footer>
    </div>
</section>
<section class="wrapper style1 special">
    <div class="inner">
        <header><h2>Duis torquent</h2><p>Rutrum facilisis. Class aptent taciti sociosqu<br>  litora torquent et conubia etiam nostra.</p></header><section class="spotlight">
            <span class="image"><img src="images/pic02.jpg" alt=""></span><div class="content">
                <header><h3>Aliquam veroeros</h3></header><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.</p><footer>
                    <ul class="actions"><li><a href="#" class="button">Details</a></li></ul>
                </footer>
            </div>
        </section>
        <section class="spotlight">
            <span class="image"><img src="images/pic03.jpg" alt=""></span><div class="content">
                <header><h3>Nostra adpiscing</h3></header><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.</p><footer><ul class="actions"><li><a href="#" class="button">Details</a></li></ul></footer>
            </div>
        </section><section class="spotlight"><span class="image"><img src="images/pic04.jpg" alt=""></span><div class="content"><header><h3>Tempus litoria</h3></header><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.</p><footer><ul class="actions"><li><a href="#" class="button">Details</a></li></ul></footer></div></section><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos malesuada fames ac turpis egestas. In non lorem amet. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique eu nibh.</p><footer><ul class="actions"><li><a href="#" class="button">Details</a></li></ul></footer>
    </div>
</section>
<section class="wrapper style3 special">
    <div class="inner">
        <header><h2>Amet ullamcorper</h2><p>Aptent taciti sociosqu litora torquent et conubia sed etiam.<br>  Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam<br>  turpis mauris, ultricies erat malesuada quis.</p></header><footer>
            <ul class="actions"><li><a href="#" class="button big">Get Started</a></li></ul>
        </footer>
    </div>
</section>
<section id="footer" class="wrapper split style2">
    <div class="inner">
        <section>
            <header><h3>Magna lorem ipsum</h3></header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.</p><ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li><li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li><li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li><li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li></ul>
        </section>
        <section><form method="post" action="#"><div class="field half first"><input name="name" id="name" placeholder="Name" type="text"></div><div class="field half"><input name="email" id="email" placeholder="Email" type="email"></div><div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div><ul class="actions"><li><input value="Send Message" type="submit"></li></ul></form></section>
    </div><div class="copyright"><p>© Untitled. All rights reserved. Lorem ipsum dolor sit amet nullam.</p></div>
</section>